<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'>
  </head>
  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    <%= render partial: 'spree/shared/google_analytics.js' %>
    <%= render partial: 'spree/shared/header' %>

    <div class="container">
      <div class="row" data-hook>
        <%= breadcrumbs(@taxon) %>

        <div id="content" class="col-sm-12 clearfix" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>

        <%= yield :templates %>
      </div>
    </div>
    
    <%= render partial: 'spree/shared/footer' %>
    <!-- Facebook Conversion Code for Checkouts - Strategy VoltStudios 1 -->
    <script>
    	(function() {
    		var _fbq = window._fbq || (window._fbq = []);
    		if (!_fbq.loaded) {
    		var fbds = document.createElement('script');
    		fbds.async = true;
    		fbds.src = '//connect.facebook.net/en_US/fbds.js';
    		var s = document.getElementsByTagName('script')[0];
    		s.parentNode.insertBefore(fbds, s);
    		_fbq.loaded = true;
    		}
    		})();
    		window._fbq = window._fbq || [];
    		window._fbq.push(['track', '6033229959641', {'value':'0.00','currency':'MXN'}]);
    </script>
    
    <noscript>
    	<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6033229959641&amp;cd[value]=0.00&amp;cd[currency]=MXN&amp;noscript=1"/>
    </noscript>
  </body>
</html>