<p>Nuestra Política de Privacidad cambia con el tiempo</p>
   
<p>Debido al continuo desarrollo de nuestros sitios web y al uso de las nuevas tecnologías para mejorar 
los servicios que ofrecemos, nuestras políticas van a cambiar con el tiempo. Le recomendamos que revise esta 
Política de Privacidad de vez en cuando para estar al día sobre nuestras últimas prácticas de privacidad. Si está 
registrado como usuario en nuestro sitio web, haremos lo posible por avisarle de los cambios importantes en nuestra 
Política de Privacidad mediante el correo electrónico que nos ha facilitado. Su acceso y uso continuado de nuestros 
sitios web implica la aceptación de todos los cambios y revisiones de nuestra Política de Privacidad.</p>
   
<p>Esta Política de Privacidad explica y resume la forma en que recopilamos, utilizamos y protegemos su
información personal cuando usted interactúa con nosotros en línea y a través de nuestro Servicio técnico.
En esta Política de Privacidad se detalla:</p>
   
<ul>
    <li>Qué información recoge Sligo México de los usuarios de nuestros sitios web.</li>
    
    <li>Cómo utiliza Sligo México la información personal que usted comparte con nosotros y la que obtenemos a través
    de nuestra relación.</li>
    
    <li>Cómo utiliza Sligo México las cookies y las direcciones IP.</li>
    
    <li>Qué información personal, si la hubiere, puede compartir Sligo México con los demás y cuáles son las
    condiciones que protegen su información si se debe compartir.</li>
    
    <li>Qué tipo de medidas de seguridad toma Sligo México para proteger su información contra la pérdida o la divulgación
    y cómo le va a informar Sligo México en caso de violación de seguridad.</li>
    
    <li>En qué circunstancias puede acceder a la información personal que usted compartió con Sligo México, corregirla,
    limitar su uso a Sligo México e incluso eliminarla de nuestros registros.</li>
    
    <li>Otros detalles que usted debe saber sobre la privacidad y Sligo México.</li>
</ul>

<p>El tipo de información que nuestros sitios web y tiendas recogen sobre usted</p>

   
<p>Sligo México recopila información que usted nos proporciona o que obtenemos a través de su uso de nuestros
sitios web o de sus compras en nuestras tiendas. Recibimos y almacenamos la información que introduce en nuestros
sitios web, que nos proporciona en nuestras tiendas o de cualquier otro modo. Por ejemplo, nos proporciona
información al registrarse en nuestro sitio web, al iniciar sesión, al buscar, al añadir artículos en su cesta
de la compra, al pagar, al participar en una encuesta, concurso o promoción, al solicitar un puesto de trabajo,
al solicitar material publicitario o al ponerse en contacto con Atención al Cliente de Sligo México. Como
resultado de estas acciones, nos podría proporcionar tal información como su nombre, dirección, número de teléfono,
dirección de correo electrónico, información de tarjetas de crédito y preferencias personales sobre productos
y compras. Mediante la solicitud de un puesto de trabajo, usted puede proporcionarnos su nombre, dirección,
número de teléfono, dirección de correo electrónico, experiencia laboral previa, referencias y otra información
personal sobre su formación y experiencia.</p>

<p>También recibimos y almacenamos automáticamente cierto tipo de información cuando visita nuestros sitios
web. Además, también podemos recibir información sobre usted de otras fuentes, como al enviarle ofertas especiales
que pueden interesarle, y agregarla en nuestra cuenta.</p>

<p>Se hace notar que comunicarnos con usted para enviar información publicitaria, no es necesario para mantener
la relación que tenemos con usted. Usted controla la opción de recibir información publicitaria o llamadas
promocionales. Para conocer las formas en las que puede tomar decisiones, favor de revisar la sección denominada
" Preferencias de contacto y acceso a su información personal”. Su decisión de no recibir información promocional
no afectará la posibilidad de recibir información de otros servicios o productos que pueda solicitarnos.</p>

<p>Consiento que mis datos personales incluyendo los sensibles y patrimoniales sean utilizados conforme a las
finalidades de la presente política..</p>

<p>Utilizamos la información recopilada sobre usted para proporcionarle la mejor experiencia de compra posible,
las tendencias más actuales en ropa y complementos y las novedades sobre estilo personal. Si solicita empleo con
nosotros, utilizamos esta información para evaluar su solicitud y tenerle en cuenta para trabajar. Si participa
en una encuesta, concurso o promoción, utilizamos la información enviada para mejorar nuestros servicios y 
determinar si reúne los requisitos para cualquier recompensa. No vendemos por ningún motivo su información personal
a terceros. No revelamos su información personal a terceros no afiliados o a nuestros afiliados que quieran ofrecer
sus propios productos y servicios, a menos que usted lo solicite o nos autoriza a hacerlo.</p>

<p>Podemos compartir su información personal con terceros o afiliados de Sligo México cuando sea necesario para
nosotros para completar una transacción que usted haya autorizado o para realizar otra actividad que usted nos haya
solicitado.</p>

<p>Podemos compartir su información personal con terceros o afiliados de Sligo México a quienes hemos contratado
para prestar servicios en nuestro nombre. Todas las empresas que actúan en nuestro nombre están obligadas
contractualmente a mantener la confidencialidad de la información personal que les proporcionamos y a usar esta
información solamente para prestar los servicios que les ordenamos.</p>

<p>Podemos revelar información personal sobre nuestros clientes tal y como permite o exige la ley, como puede ser
en caso de citación o proceso legal similar, o en caso de fusión, adquisición o quiebra, como se discute a continuación.
Podemos revelar información sobre usted para proteger contra posibles fraudes y otros delitos y hacer cumplir
nuestros contratos con usted.</p>

<p>Tratamos de proporcionarle la información que necesita para tomar decisiones razonables sobre cómo usamos y
compartimos su información en nuestros sitios web.</p>

<p>Usted cuenta con los derechos de acceso, rectificación y cancelación sus datos personales en los términos que
establezcan las leyes; asimismo, usted puede oponerse a algunas de las actividades de tratamiento que realizamos
y goza del derecho de revocar en cualquier tiempo el consentimiento otorgado para el tratamiento de sus datos
personales en la medida que la ley lo permita. Para el ejercicio de estos derechos, por favor contáctenos a la
dirección de contacto que se establece más abajo. Nosotros podemos hacerle saber: (i) la información que se le
solicitará para que se identifique así como los documentos que necesitará enviar junto con su solicitud; (ii)
los plazos en los que recibirá una contestación sobre su solicitud; (iii) cómo debe de presentar su solicitud,
incluyendo los formularios que puede usar para presentar su solicitud, si los hubiere, y; (iv) la modalidad o
medio en que le entregaremos la información a usted.</p>


<p>Sligo México recoge y utiliza información personal sobre usted de varias maneras:</p>

<ul>
    <li>Uso del sitio web. Sligo México o los proveedores de servicios autorizados por Sligo México pueden estudiar
    las actividades, preferencias y datos transaccionales (como su dirección IP, tipo de navegador y sistema operativo)
    en relación con su uso de nuestros sitios web. Podemos utilizar esta información recopilada o almacenada con el
    fin de brindar un mejor servicio, facilitar y supervisar el uso del sitio web y hacer frente a los riesgos de
    seguridad. Sligo México, o uno de los proveedores de servicios autorizados por Sligo México, puede usar esta
    información para hacer un seguimiento del conjunto de patrones de tráfico en nuestros sitios web para el análisis
    interno de Sligo México.</li>
    
    <li>Transacciones online. Recopilamos información sobre usted cuando compra en nuestro sitio web. Puede visitar
    nuestro sitio web sin registrarse, pero si usted quiere añadir artículos a la cesta de la compra, crear una lista
    de productos deseados o usar otras funciones especiales en nuestro sitio web, deberá proporcionarnos cierta
    información, incluyendo su nombre, dirección, número de teléfono y dirección de correo electrónico para abrir una
    cuenta. Le ayudaremos a crear un nombre de usuario y una contraseña para proteger su información de cuenta.
    Del mismo modo, si usted desea solicitar un puesto de trabajo en línea con nosotros, se le pedirá que proporcione
    información relevante sobre su formación y experiencia.</li>
    
    
    <li>Transacciones comerciales en tienda. Recopilamos información sobre usted cuando compra o se inscribe en
    nuestras tiendas para recibir material publicitario o solicitar empleo.</li>
</ul>  

<p>Nuestra protección de datos</p>

<p>Nuestras políticas de protección de datos internos limitan el acceso a la información personal de los
clientes a los empleados autorizados. Los empleados autorizados podrán utilizar los datos personales de nuestros
clientes solamente con fines comerciales para Sligo México. Nuestros empleados están sujetos a las políticas de
Sligo México que les obligan a mantener la confidencialidad de la información personal de nuestros clientes. Los
empleados que violen estas normas quedarán sujetos a medidas disciplinarias, incluyendo el despido.</p>

<p>Mantenemos medidas de seguridad físicas, electrónicas y procesales que están diseñadas para proteger la
información personal de nuestros clientes. Por ejemplo, para la seguridad de sus visitas en línea a nuestros sitios
web, podemos utilizar cortafuegos, técnicas de codificación y/o procedimientos de autenticación. Desafortunadamente,
ninguna transmisión de datos por Internet puede garantizarse que sea totalmente segura. Como resultado, mientras
nos esforzamos a proteger su información personal, Sligo México no puede asegurar ni garantizar la seguridad de
ninguna información que usted nos transmita y lo hace bajo su propia responsabilidad. En el caso de una violación
de la confidencialidad o seguridad de su información personal se lo notificaremos, en la medida de lo posible y si
es necesario, de modo que pueda tomar las medidas de protección adecuadas. A menos que indique lo contrario, podemos
notificarse sobre estas circunstancias mediante la dirección de correo electrónico que nos proporcionó al registrarse
en nuestros sitios web.       ¿Qué son las cookies y cómo se utilizan en nuestros sitios web?</p>

<p>Podemos utilizar cookies para recopilar cierta información. Una cookie es una pequeña pieza de información que un
sitio web almacena en un ordenador personal y que se puede recuperar posteriormente. Podemos usar cookies con fines
administrativos, por ejemplo, para registrar las preferencias de nuestros clientes para ciertos tipos de productos o
guardar una contraseña para no tener que introducirla cada vez que visite nuestro sitio web. Las cookies no contienen
información que permita a nadie contactar con nuestros clientes por teléfono, correo electrónico o cualquier otro
medio. Si nuestros clientes se sienten incómodos con el uso de la tecnología de cookies, pueden configurar su 
navegador para que rechace las cookies. Sin embargo, algunos de nuestros servicios podrían depender de las cookies
y puede que se deshabilita al negarse a las cookies.</p>     

<p>Nuestros sitios web pueden contener enlaces a sitios de terceros. Sin embargo, tenga en cuenta que Sligo
México no se hace responsable y no puede controlar las políticas de privacidad de estos otros sitios ni sus
prácticas. Le recomendamos que lea las políticas de privacidad de estos otros sitios, ya que pueden ser diferentes
a las nuestras. Esta Política de Privacidad se aplica únicamente a la información personal
recopilada por Sligo México.</p>

<p>Preferencias de contacto y acceso a su información personal</p>

<p>Tiene varias opciones a la hora de decidir cómo va a utilizar Sligo México su información personal. Cuando
se registre en línea en nuestros sitios web o en nuestras tiendas, puede optar por no recibir información sobre
nuestros productos, servicios y ofertas especiales por correo postal o electrónico. Si opta por no recibir
información publicitaria por correo postal o electrónico, Sligo México podrá seguir en contacto con usted cuando
sea necesario para gestionar su cuenta y procesar sus compras. Puede cambiar sus preferencias siguiendo las
instrucciones de desactivación que encontrará al final del correo electrónico.</p>

<p>Es muy importante mantener su información de cuenta precisa y actualizada para que podamos ofrecerle un
excelente servicio.</p>
   

<p>Si Sligo México se declarara en quiebra o se fusiona con otra empresa, o si Sligo México decidiera comprar
otra empresa, vender o reorganizar una parte o la totalidad del negocio, Sligo México podría estar obligado a
revelar su información personal a compradores potenciales o reales y otras partes. Sligo México tiene la costumbre
de obtener las protecciones adecuadas para la información divulgada en este tipo de transacciones. Sin embargo,
Sligo México no puede garantizar que la Política de Privacidad de Sligo México se mantenga sin cambios si Sligo
México se vende o se fusiona con otra empresa.</p> 

<p>Los niños y niñas no están autorizadas a usar nuestros sitios web. Pedimos que los menores de edad
(menos de 18 años) hagan uso de nuestro sitio web junto con sus padres o tutores. Los niños menores de 18 años no
deben enviar ninguna información sobre ellos, tales como su nombre, dirección, correo electrónico, número de teléfono,
fotografías, vídeos, ubicación u otra información personal a Sligo México a través del blog, concursos, sorteos,
promociones o de cualquier otra manera, incluso con el permiso de los padres o tutores. Si un menor de 18 años
envía información a través de nuestros sitios web y Sligo México se da cuenta de que la persona que presentó la
información es un niño o niña menor de 18 años, haremos todo lo posible para eliminar esa información tan pronto
como sea posible. Debido a que no recogemos conscientemente información personal de niños y niñas menores de 18 años,
no vamos a usar ni revelaremos dicha información a terceros.</p>

<p>Es importante que mantenga cuidadosamente la confidencialidad de sus contraseñas y/o información de cuenta
y que sea responsable a la hora de proteger su identidad e información personal cuando esté en línea.</p>