<%= form_for :order, :url => populate_orders_path do |f| %>
  <div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
      <div data-hook="product_price" class="col-md-12">
        <div id="product-price">
          <div>
            <span class="lead" itemprop="priceCurrency" content="<%= @product.currency %>">
              <%= @product.currency %>
            </span>
            <span class="lead price selling" itemprop="price">
              <%= display_price(@product) %>
            </span>
            <% if @in_stock %>
              <span>
                <%= image_tag 'spree/frontend/expressicon.png', class: "expressicon" %>
              </span>
            <% end %>
          </div>
          <% if @product.master.can_supply? %>
            <link itemprop="availability" href="https://schema.org/InStock" />
          <% elsif @product.variants.empty? %>
            <br />
            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
          <% end %>
        </div>
      </div>
    <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span></div>
      </div>
    <% end %>
    
    <% if @variants.any? %>
    
      <%= javascript_tag do %>
        Spree.catDictionary = <%=raw @cat_dictionary.to_json %>
      <% end %>
      
      <%= hidden_field_tag "variant_id", @product.master.id, id: "variant_id" %>
    
      <div id="option-values" class="col-md-12">
        <% @product.option_types.includes(:option_values).each do |type| %>
          <h3><%= type.presentation %></h3>
          <ul class="list-group">
            <% type.option_values.each_with_index do |value, index| %>
              <li>
                <%= radio_button_tag type.name, value.id, index == 0 %>
                <%= label_tag "#{ type.name }_#{ value.id }" do %>
                  <span class="value-text">
                    <%= value.presentation %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      
        
      
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>
    
    <% if @product.price_in(current_currency) and !@product.price.nil? %>
    <div class="add-to-cart col-md-12">
          <br/>
          
          <div id="product-quantity">
            <%= number_field_tag :quantity, 1, :class => 'title form-control', :min => 1 %>
          </div>
          
          <div id="buy-button">
            <span class="input-group-btn">
              <%= button_tag :class => 'btn btn-primary', :id => 'add-to-cart-button', :type => :submit do %>
                <%= Spree.t(:add_to_cart) %>
              <% end %>
            </span>
          </div>
        </div>
    <% end %>
  </div>
<% end %>