<% if defined?(image) && image %>
  <%= image_tag image.attachment.url(:product), :itemprop => "image", 'data-zoom-image': image.attachment.url(:large) %>
<% else %>
  <%= product_image(@product, :itemprop => "image", 'data-zoom-image': :large) %>
<% end %>