<% @body_id = 'product-details' %>

<%# cache cache_key_for_product do %>
  <div data-hook="product_show" class="row clearfix" itemscope itemtype="https://schema.org/Product">
    
    <div class="col-md-3 col-md-offset-1" data-hook="product_left_part">
      <h1 class="product-title visible-xs-block visible-sm-block" itemprop="name">
        <%= @product.name %>
      </h1>
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= render :partial => 'image' %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-md-offset-1" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title hidden-xs hidden-sm" itemprop="name"><%= @product.name %></h1>

          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div id="aditional-details">
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="" itemprop="description" data-hook="description">
          <h3><%= Spree.t(:product_details) %></h3>
          <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <%= render :partial => 'taxons' %>
      </div>
    </div>
  </div>
<%# end %>
