@font-face {
  font-family: "Bebas Neue";
  src: font-url('BebasNeueRegular.otf') format("opentype");
}

@font-face {
  font-family: "Bebas Neue";
  src: font-url('BebasNeueBold.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Bebas Neue";
  src: font-url('BebasNeueLight.otf') format("opentype");
  font-weight: light;
}

@font-face {
  font-family: "Bebas Neue";
  src: font-url('BebasNeueThin.otf') format("opentype");
  font-weight: normal;
  font-style: thin;
}

@font-face {
  font-family: "Bebas Neue";
  src: font-url('BebasNeueBook.otf') format("opentype");
  font-weight: normal;
  font-style: book;
}

$navbar-default-bg: #312312;
$navbar-default-color: #121212;

$brand-primary: #10446C;
$brand-primary-shade-3: darken($brand-primary, 7%);
$brand-primary-shade-2: darken($brand-primary, 3%);
$brand-primary-shade-1: darken($brand-primary, 1%);

$brand-primary-text: #FFFFFF;

$brand-secondary: #bada08;

$brand-secondary-text: $brand-primary-text;

$social-background: #3c5b9b;
$social-background-text: $brand-primary-text;

$header-padding: 2px 0;
$header-link-color: $brand-primary-text;

$footer-text-color: $brand-primary-text;

$text-color: #060606;

$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Bebas Neue', sans-serif;
$headings-color: $brand-secondary;

$border-radius-base: 0;

$separator-color: #FFFFFF;
$separator-sm-color: $separator-color;

$follow-button-text: $brand-primary-text;
$follow-button-border-size: 1px;
$follow-button-border-style: solid;
$follow-button-border-color: $brand-primary-text;
$follow-button-border-radius: 3px;

$gallery-height: 600px;

$gallery-panel-1-height-ratio: 35% / 100%;
$gallery-panel-2-height-ratio: 65% / 100%;
$gallery-panel-3-height-ratio: 65% / 100%;
$gallery-panel-4-height-ratio: 35% / 100%;

$gallery-panel-1-height: $gallery-height * $gallery-panel-1-height-ratio;
$gallery-panel-2-height: $gallery-height * $gallery-panel-2-height-ratio;
$gallery-panel-3-height: $gallery-height * $gallery-panel-3-height-ratio;
$gallery-panel-4-height: $gallery-height * $gallery-panel-4-height-ratio;

@function get-gray($level) {
  @return mix(#FFFFFF, #000000, $level * 10%)
}



//Add your custom bootstrap variables here, 
//see https://github.com/twbs/bootstrap-sass/blob/master/vendor/assets/stylesheets/bootstrap/_variables.scss 
//for full list of variables.

@import "bootstrap-sprockets";
@import "bootstrap";
