<div class="text-center">
    <h1># Sligo Team</h1>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players1.png" %></div>
        <div class="col-md-6"><%= image_tag "players2.png" %></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players3.png" %></div>
        <div class="col-md-6"><%= image_tag "players4.png" %></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players5.png" %></div>
        <div class="col-md-6"><%= image_tag "players6.png" %></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players7.png" %></div>
        <div class="col-md-6"><%= image_tag "players8.png" %></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players9.png" %></div>
        <div class="col-md-6"><%= image_tag "players10.png" %></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players11.png" %></div>
        <div class="col-md-6"><%= image_tag "players12.png" %></div>
    </div>
    <div class="row">
        <div class="col-md-6"><%= image_tag "players13.png" %></div>
        <div class="col-md-6"><%= image_tag "players0.png" %></div>
    </div>
</div>