@import "spree/frontend/frontend_bootstrap";

$header-background: $brand-primary;
$header-link-background-color-hover: $brand-primary-shade-3;

// -- Spree Custom Header and Footer ---------------------
.link-without-underline:hover {
  text-decoration: none;
}

.clearfix {
  padding: 0;
  margin: 0;
}

#spree-header {
  background: $header-background;
  margin-bottom: 0;

  #logo {
    img {
      height: 3em;
      width: auto;
      
      @media (max-width: $screen-md) {
        margin: 5px;
      }
    }
  }

  #header {
    #top-nav-bar {
      a {
        color: $header-link-color;
        
        &:hover, &:focus {
          background: $header-link-background-color-hover;
        }
      }
    }
  }

  .navbar {
    border: 0;
    margin-bottom: 0;
  }
  
  &.mobile-navbar {
    font-size: 1.5em;
    
    button {
      color: #FFFFFF;
    }
    
    .navbar {
      background: inherit;
    }
    
    .navbar-default .navbar-toggle {
      border: none;
      
      &:hover, &:focus {
        background-color: $brand-primary-shade-3;
      }
    }
    
    a {
      color: $brand-primary-text;
      
      &:hover, &:active {
        text-decoration: none;
      }
      
      &:active {
        color: $brand-secondary;
      }
    }
  }
}

#top_menu {
  background: #F3F3F3;
  padding-top: 7px;
  padding-bottom: 7px;
  
  :before, :after {
    box-sizing: inherit;
  }
  
  a {
    color: #121212;
    padding: 0 20px;
    
    &:hover {
      text-decoration: none;
      color: #979797;
    }
  }
  
  ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 100%;
    
    margin: 7px 0;
    padding: 0 15px;
  }
  
  li {
    list-style: none;
    
    box-sizing: inherit;
    padding
    
    :before, :after {
      box-sizing: inherit;
    }
  }
}

li.divider {
  height: 1px;
  background: $brand-primary-text;
  margin: 5px 10px;
}

#home-container {
  margin-top: -50px;
}

#featured-products-text h1 {
    text-decoration: underline;
    font-size: 3.4em;
  }

#products {
  #products-carousel {
    padding-bottom: 50px;
    padding-top: 70px;
  }
  
  a {
    &:hover, &:active {
      text-decoration: none;
    }
  }
  
  .product-card-info {
    background: $brand-primary;
    color: $brand-primary-text;
     font-size: 1.5em;
    
    border: 1px darken($brand-primary, 25%);
    padding: 5px 0;
    
    .product-name {
      font-weight: bold;
    }
  }
  
  .store-card {
    margin-bottom: 10px;
    
    .product-card-info {
      font-weight: 300;
      
      background: none;
      color: get-gray(4);
      font-size: 1.5em;
      
      border: 1px darken(get-gray(9.3), 25%);
      padding: 5px 0;
      
      .product-name {
        
      }
    }
  }
}

.product-link {
  margin-bottom: 20px;
}

#gallery {
  #gallery-panel1 {
    height: $gallery-panel-1-height;
    background: image-url("spree/frontend/playeras_gallery.png") bottom center/ cover;
  }
  
  #gallery-panel2 {
    height: $gallery-panel-2-height;
    background: image-url("spree/frontend/accesorios_gallery.png") bottom center / cover;
  }
  
  .right-button {
    float: right;
  }
  
  .subpanel-left {
    padding-right: 0;
  }
  
  .subpanel-right {
    padding-left: 0;
    padding-right: 14px;
  }
  
  #gallery-panelVideo {
    height: $gallery-panel-2-height;
    background: image-url("spree/frontend/VideoModalImage.jpeg") center center / cover;
    
    .gallery-button {
      margin-top: 260px;
    }
  }
  
  #gallery-panel3 {
    height: $gallery-panel-3-height;
    background: image-url("spree/frontend/sligo_txt.png") center center / cover;
  }
  
  #gallery-panel4 {
    height: $gallery-panel-4-height;
    background: image-url("spree/frontend/golfer2.png") top right / cover;
  }
  
  .gallery-button {
    background-color: $brand-secondary;
    color: $brand-secondary-text;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 30px;
    font-size: 2em;
  }
}

.right {
  float: right;
}

// -- Spree Layout Custom Rules -------------------------

.alert-notice { @extend .alert-success; }
.alert-error, .alert-registration_error { @extend .alert-danger; }
.alert-alert { @extend .alert-info; }

.product-body {
  height: 170px;
}

.progress-steps {
  margin-top: $line-height-computed;
}

h1 {
  margin-bottom: 30px;
}

// Center cart line items
table {
  &.table > tbody > tr {
    &.line-item td, &.stock-item td {
      vertical-align: middle;
    }
  }

  &#line-items {
    > tbody, > tfoot {
      > tr > td {
        vertical-align: middle;

        &.order-qty {
          text-align: center;
        }
      }
    }
  }
}

// Updated credit-card image
#credit-card-image {
  margin-top: -10px;
}

.existing-credit-card-list td {
  padding: 5px;
}

#main-carousel {
  .carousel-item {
    height: 500px;
    
    h1 {
      font-size: 7em;
      font-weight: normal;
      
      @media screen and (max-width: $screen-sm) and (min-width: $screen-xs + 1) {
        margin-top: 20%;
        text-shadow: 0px 0px 10px black;
        font-size: 6em;
      }
      
      @media screen and (max-width: $screen-xs) {
        margin-top: 20%;
        text-shadow: 0px 0px 10px black;
        font-size: 5em;
      }
    }
    
    .shop-button-header {
      font-size: 1.5em;
      
      border-radius: 0;
      border: 1px solid $brand-primary-shade-1;
      margin: 20px 0;
      padding: 10px 50px;
    }
  }
  
  .carousel-item-content {
    @media screen and (min-width: $screen-md) {
      margin-top: 10%;
    }
  }
  
  @media(max-width: $screen-sm-max) {
    margin-top: 3.52em;
  }
}

#carousel-item-1 {
  background: #4582BE image-url("spree/frontend/Belt_Carrousel.png") center right 75% / cover;
  max-height: 60%;
  
  @media (min-width: $screen-md) {
    h1 {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
}

#carousel-item-2 {
  background: image-url("spree/frontend/AaronWatkins_Carrousel.jpg") 50% 25% / cover;
  max-height: 60%;
}

#carousel-item-3 {
  background: image-url("spree/frontend/BrianGay_Carrousel.jpg") bottom left / cover;
  max-height: 60%;
}

#carousel-item-4 {
  background: image-url("spree/frontend/Carrousel_Back_1.jpg") center right / cover;
  max-height: 60%;
}

#footer {
  background: $brand-primary;
  color: $footer-text-color;
  
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
  img {
    margin: 5px;
    height: 3em;
  }
}

#product-images {
  #main-image {
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .thumbnail {
    padding: 4px;
    border: 2px solid $brand-primary;
    border-radius: 0;
  }
}

#option-values {
  ul.list-group li {
    list-style: none;
    display: inline-block;
    
    input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
      
    }
    
    input[type=radio]:checked ~ label span {
      color: $brand-primary-text;
      background: $brand-primary;
    }
  }
  
  .value-text {
    padding: 0.5em 0.8em;
    border: 2px solid #10446C;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.product-title {
  color: $text-color;
}

#product-description {
  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
  }
  
  #product-quantity {
    margin-bottom: 20px;
    max-width: 200px;
  }
  
  #buy-button {
    margin: 10px 0;
  }
}

#aditional-details {
  h1, h2, h3, h4, h5, h6 {
    color: $text-color;
  }
}

#social-panel {
  margin-left: -1px;
  margin-bottom: -1px;
  width: 100%;
  
  #facebook-panel, #instagram-panel {
    background: $social-background;
    color: $social-background-text;
    margin: 0;
    padding: 20px;
    
    h1, h2, h3, h4, h5, h6 {
      color: $social-background-text;
      font-family: "Open Sans", sans-serif;
    }
  }
  
  #instagram-posts {
    background: image-url("spree/frontend/instagrampic.png") top right 20% / cover;
  }
  
  @media (max-width: $screen-md) {
    padding: 10px 20px;
    margin-bottom: 2em;
  }
}

.separator-sm {
  width: 60px;
  height: 3px;
  margin: 0px auto;
  background: $separator-sm-color;
}

.same-height-column {
  float: none;
  display: table-cell;
  vertical-align: top;
}

.same-height-row {
  display: table;
}

.follow-button {
  max-width: 150px;
  display: block;
  margin: 20px auto;
  
  &:hover, &:active {
    text-decoration: none;
  }
  
  div {
    padding: 10px;
    color: $follow-button-text;
    border: $follow-button-border-size $follow-button-border-style $follow-button-border-color;
    border-radius: $follow-button-border-radius;
    
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }
}

#gift-card {
  background: image-url("spree/frontend/GiftCard_Web.png") #292929 no-repeat center left 28% / contain;
  height: 500px;
  margin: 0 0 0 0;
  padding-top: 10%;
  
  color: $brand-primary-text;
  text-shadow: 0px 0px 10px black;
  
  @media screen and (max-width: $screen-md) {
    background: image-url("spree/frontend/GiftCard_Web.png") #292929 no-repeat center left 20% / cover;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: $brand-primary-text;
  }
  
  h1 {
    font-size: 5em;
    
    @media screen and (max-width: $screen-xs) {
      font-size: 4em;
    }
  }
  
  p {
    font-size: 2em;
    @media screen and (max-width: $screen-xs) {
      font-size: 1.8em;
    }
  }
  
  .promo-button {
    max-width: 170px;
    display: block;
    margin: 20px auto;
    
    &:hover, &:active {
      text-decoration: none;
    }
    
    div {
      background: $brand-primary;
      padding: 10px;
      
      h2 {
        margin: 0;
      }
    }
  }
}

.center-text {
  text-align: center;
}

#search-bar input[name="keywords"] {
  background: none;
  color: $brand-primary-text;
  border: 1px solid $brand-primary-text;
}

.light-text {
  font-weight: light;
}

#copyright-notice p {
  margin: 1em;
}

#privacy-policy p {
  margin: 1em;
  
  a {
    color: $brand-primary-text;
    
    &:hover {
      text-decoration: none;
    }
  }
}

#contact-phone p {
  margin: 1em;
}

#mailchimp {
  background: image-url("spree/frontend/mailing_background.jpg") bottom left / cover;
  
  #mailchimp-form {
    @media (min-width: $screen-md) {
      margin-top: 180px;
    }
    
    @media (max-width: $screen-md) {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  
  #mailchimp-text {
    font-size: 18px;
    
    img {
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    p {
      text-align: justify;
      padding: 0;
      margin-top: 0;
      text-transform: uppercase;
    }
    
    .jumbo {
      font-size: 3em;
    }
    
    .big {
      font-size: 1.7em;
    }
  }
  
  #mce-EMAIL {
    padding: 6px;
    text-align: center;
    min-width: 350px;
  }
  
  #mc-embedded-subscribe {
    padding: 7px 15px;
    border: solid #BADA08 1px;
    background: #BADA08;
    color: #FFFFFF;
    text-align: center;
  }
}

.button-secondary {
  background: $brand-secondary;
  color: $brand-secondary-text;
  font-family: $headings-font-family;
  border-color: $brand-secondary-text;
  box-shadow: 0 0 white
}

.breadcrumb {
  list-style: none;
  background: none;
  border-radius: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3.5em;
  min-height: 100%;
  
  @media screen and (max-width: $screen-md) {
    padding-bottom: 10em;
  }
}

.expressicon {
  max-height: 30px;
}

#discount-popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.6);
  z-index: 1;
  top: 0;
}

#discount-popup {
  background: #C7E281 image-url("spree/frontend/up_background.png") center center / contain no-repeat;
  border: solid 1px #AAAAAA;
  color: #3E3E3E;
  font-size: 2em;
  line-height: 1em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 12%;
  padding: 60px 20px;
  position: static;
}

.bold {
  font-weight: bold;
}

.text-secondary {
  color: $brand-secondary;
}

.text-highlight {
  color: #FFFFFF;
}

.justify {
  
}

.popup-logo {
  width: 6em;
  margin-top: -20px;
}

#free-shipping {
  padding: 0 20px;
  
  p {
    font-size: 1.5em;
  
    &.undertext {
      font-size: 0.75em;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  
  #head-text {
    margin-top: 80px;
  }
  
  #free-shipping-logo {
    margin-top: 80px;
    max-height: 250px;
  }
}

#add-to-cart-button {
  z-index: 0;
}