<div id="footer">
  <div class="fluid-container">
    <div class="row clearfix">
      <div class="col-md-3 text-center">
        <%= logo %>
      </div>
      <div id='privacy-policy' class="col-md-2 text-center">
        <p>
          <%= link_to 'Política de Privacidad', 'privacy' %>
        </p>
      </div>
      <div id="contact-phone" class="col-md-3 text-center">
        <p>
          Tel. 55-29-22-49-08
        </p>
      </div>
      <div id="copyright-notice" class="col-md-4">
        <p>
          Copyright &copy; 2015 Sligo México. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</div>