<div id="spree-header" class="hidden-xs">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-2" data-hook>
          <%= logo %>
        </figure>
        <%= render :partial => 'spree/shared/nav_bar' %>
        <br />
      </div>
    </div>
  </header>
  <nav id="top_menu">
    <div class="container">
      <div class="row products-menu">
        <%= render :partial => 'spree/shared/top_menu' %>
      </div>
    </div>
  </nav>
</div>

<div id="spree-header" class="visible-xs-block mobile-navbar">
  <nav class="navbar navbar-default" role="navigation">
    <div id="header" class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-main-menu">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
      </button>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  
      </button>
      <button type="button" class="navbar-toggle">
        <%= link_to "/cart" do %>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <% end %>
      </button>
      <figure id="logo" data-hook>
        <%= logo %>
      </figure>
    </div>
    
    <div class="collapse navbar-collapse" id="mobile-main-menu">
      <ul class="nav navbar-nav">
        <%= render partial: "spree/shared/login_bar" %>
        <li role="separator" class="divider"></li>
        <% Spree::Taxonomy.where(name: 'Category').map do |taxonomy| %>
          <% taxonomy.root.children.map do |taxon| %>
            <li><%= link_to taxon.name.upcase, seo_url(taxon) %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="search">
      <%= form_tag spree.products_path, :method => :get, class: "navbar-form" do %>
        <div class="form-group">
          <%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %>
        </div>
        <%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-success" %>
      <% end %>
    </div>
  </nav>
</div>