<nav class="navbar col-md-8 col-sm-10" id="top-nav-bar">
    <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
        <li id="search-bar" data-hook>
        <%= render :partial => 'spree/shared/search' %>
        </li>
        <li id="link-to-cart" data-hook>
        <noscript>
            <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
        </li>
        <script>Spree.fetch_cart()</script>
    </ul>
</nav>