<% content_for :head do %>
  <% if products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h3 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h3>
    </div>
  <% end %>
</div>

<% if products.any? %>
  <div id="products" class="row clearfix" data-hook>
    <% products.each_slice(3) do |row| %>
      <div class="row">
        <% row.each do |product| %>
          <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
          <%= link_to url do %>
            <div id="product_<%= product.id %>" class="col-md-4 col-sm-6 product-link" data-hook="products_list_items" itemscope>
              <%= link_to url do %>
              <div class="product-card store-card">
                <div class="text-center">
                  <%= product_image(product, itemprop: "image") %><br/>
                </div>
                <div class="product-card-info text-center">
                  <div class="text-center">
                    <%= truncate(product.name.upcase, length: 50) %>
                  </div>
                  <div class="text-center product-price">
                    <%= "#{display_price(product)} #{product.currency}" %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
<% end %>

<% if products.respond_to?(:num_pages) %>
  <%= paginate products, theme: 'twitter-bootstrap-3' %>
<% end %>