<div id="main-carousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div id="carousel-item-4" class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-12">
              <div class="carousel-item-content">
                <h1 class="clearfix">FASHION AND PERFORMANCE DRIVEN</h1>
                  <a href="/products/" class="btn btn-primary shop-button-header">
                    SHOP NOW
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div id="carousel-item-3" class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12">
              <div class="carousel-item-content">
                <h1 class="clearfix">FASHION AND PERFORMANCE DRIVEN</h1>
                  <a href="/products/" class="btn btn-primary shop-button-header">
                    SHOP NOW
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div id="carousel-item-1" class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12">
              <div class="carousel-item-content">
                <h1 class="clearfix"><span class="text-highlight">Real</span> golf<span class="text-highlight">ers</span></h1>
                  <a href="/products/" class="btn btn-primary shop-button-header">
                    SHOP NOW
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>