<div id="discount-popup-background">
  <div id="discount-popup" class="text-center">
    <%= image_tag 'spree/frontend/Sligo_Logo_black.png', class: "popup-logo" %>
    <p>Por ser tu primera compra en la tienda en linea de Sligo México te damos un cupón de descuento.</p>
    <p>Utiliza el código <span class="bold">PRIMERASLIGO</span> para tener 20% de descuento.</p>
    <script>
      $("#discount-popup-background").click(function() {
        $("#discount-popup-background").fadeOut();
      });
    </script>
  </div>
</div>