<div id="free-shipping" class="row clearfix">
  <div id="head-text" class="col-md-6 col-md-offset-1">
    <h1>Envíos rápidos, seguros e inteligentes.</h1>
    <p>Hacemos todos nuestros envíos con FedEx Express y <span class="bold">este mes van por cuenta de Sligo.</span></p>
    <p class="undertext">Marca registrada de FedEx usada bajo autorización.</p>
  </div>
  <div class="col-md-3">
    <%= image_tag "fedex_logo.png", id: "free-shipping-logo" %>
  </div>
</div>