<div id="gift-card" class="row">
  <div class="col-md-5 col-md-offset-6 center-text">
    <p class="light-text">Tenemos el regalo perfecto para él</p>
    <p>Tú lo compras, él lo elige!</p>
    <%= link_to product_path(@gift_card), class: "promo-button text" do %>
      <div class="promo-button-text">
        <h2>Give an E-gift</h2>
      </div>
    <% end %>
  </div>
</div>
