<div class="modal fade" id="videoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lGZTiWM9LYY" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row clearfix">
  <div id="gallery">
    <div class="col-sm-6 clearfix hidden-xs">
      <%= link_to seo_url(Spree::Taxon.where(name: "Playeras").first) do %>
        <div id="gallery-panel1">
          <h2 class="gallery-button">Playeras</h2>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-7 subpanel-left">
          <%= link_to seo_url(Spree::Taxon.where(name: "Accesorios").first) do %>
            <div id="gallery-panel2">
              <h2 class="gallery-button right-button">Accesorios</h2>
            </div>
          <% end %>
        </div>
        <div class="col-sm-5 subpanel-right">
          <script>
            jQuery(function() {
              return $("#gallery-panelVideo-link").click(function(event) {
                event.preventDefault();
                return $("#videoModal").modal();
              });
            });
          </script>
          
          <a href="#" id="gallery-panelVideo-link">
            <div id="gallery-panelVideo">
              <h2 class="gallery-button right-button">Play Video</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 clearfix">
      <div id="gallery-panel3"></div>
      <%= link_to 'players' do %>
        <div id="gallery-panel4">
          <h2 class="gallery-button">Sligo Players</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>
