<!-- Begin MailChimp Signup Form -->
<div id="mailchimp" class="row clearfix">
  <div id="mailchimp-form" class="col-md-6 col-md-offset-2 text-center">
    <h1 class="visible-xs-block visible-sm-block">Suscríbete y recibe un 20% de descuento en tu primera compra</h1>
    <div class="text-center">
      <form action="//sligomexico.us11.list-manage.com/subscribe/post?u=030c7e8aa57c41a8a55541769&amp;id=7660885cc5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_030c7e8aa57c41a8a55541769_7660885cc5" tabindex="-1" value=""></div>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="E-MAIL"><input type="submit" value="SUSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </form>
    </div>
  </div>
  <div id="mailchimp-text" class="col-md-3 col-md-offset-1 hidden-xs hidden-sm">
      <%= image_tag 'spree/frontend/eNewsLetter_text.png', class: 'mailchimp-image' %>
  </div>
</div>

<!--End mc_embed_signup-->