<% if @featured_categories.any? %>
  <div id="products" class="clearfix" data-hook>
    <div id="products-carousel" class="carousel slide" data-ride="carousel">
      
      <div class="carousel-inner" role="listbox">
        <% @featured_categories.each_with_index do |featured_category, i| %>
          <div class="item<%= " active" if i == 0 %>">
            <div class="carousel-item">
              <div id="featured-products-text" class="text-center">
                <h1><%= "#{Spree.t(:featured_products)}: #{featured_category[:name]}" %></h1>
              </div>
              <div class="row">
                <% featured_category[:products].each do |product| %>
                  <% url = spree.product_url(product, taxon_id: @taxon.try(:id)) %>
                  <div id="product_<%= product.id %>" class="col-md-4 col-sm-6" data-hook="products_list_items" itemscope>
                    <%= link_to url do %>
                    <div class="product-card product-card store-card">
                      <div class="text-center">
                        <%= product_image(product, itemprop: "image") %><br/>
                      </div>
                      <div class="product-card-info text-center">
                        <div class="text-center product-name">
                          <%= truncate(product.name, length: 50) %>
                        </div>
                        <div class="text-center product-price">
                          <%= "#{display_price(product)} #{product.currency}" %>
                        </div>
                      </div>
                    </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      
      <!-- Controls -->
      <a class="left carousel-control" href="#products-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#products-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<% end %>
