<div id="social-panel" class="row clearfix same-height-row hidden-sm hidden-xs">
  <div id="facebook-panel" class="col-md-3 text-center same-height-column">
    <h2>Facebook</h2>
    <div class="separator-sm"></div>
    <a href="https://www.facebook.com/sligogolffashionwear?fref=ts" target="blank" class="follow-button">
      <div>
        <h3><%= Spree.t(:follow) %></h3>
      </div>
    </a>
  </div>
  <div id="facebook-posts" class="col-md-3 same-height-column">
    <%= image_tag "spree/frontend/fb1.png" %> <br />
    <%= image_tag "spree/frontend/fb1.png" %>
  </div>
  <div id="instagram-panel" class="col-md-3 text-center same-height-column">
    <h2>Instagram</h2>
    <div class="separator-sm"></div>
    <a href="https://instagram.com/sligo_mexico" target="blank" class="follow-button">
      <div >
        <h3><%= Spree.t(:follow) %></h3>
      </div>
    </a>
  </div>
  <div id="instagram-posts" class="col-md-3 same-height-column">
      
  </div>
</div>

<div id="social-panel" class="row clearfix visible-sm-block visible-xs-block">
  <h3>
    <%= Spree.t(:social_networks_invitation) %>
  </h3>
  <a href="https://www.facebook.com/sligogolffashionwear?fref=ts" target="blank">
    <%= image_tag "spree/frontend/facebook.png" %>
  </a>
  <a href="https://instagram.com/sligo_mexico" target="blank">
    <%= image_tag "spree/frontend/instagram.png" %>
  </a>
</div>
