    </div>
  </div>
</div>

<div class="container-fluid" id="home-container">
  <div class="row" data-hook>
    <%= breadcrumbs(@taxon) %>
    
    <div id="content" class="col-sm-12 clearfix" data-hook>

<% if !spree_current_user %>
  <%= render partial: 'discount_popup' %>
<% end %>

<div data-hook="homepage_carousel">
  <%= render :partial => 'carousel' %>
</div>
<div data-hook="homepage_image_gallery">
  <%= render partial: 'image_gallery' %>
</div>

<div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%= render partial: 'products', :locals => { :products => @products } %>
  <%# end %>
</div>

<div data-hook="homepage_gift_card">
  <%= render partial: 'gift_card' %>
</div>

<div data-hook="homepage_mailing_list">
  <%= render partial: 'mailing_list' %>
</div>

<div data-hook="free_shipping_list">
  <%= render partial: 'free_shipping' %>
</div>

<%= render partial: 'social_panel' %>

    </div>
  </div>
</div>

<div class="container">
  <div class="row" data-hook>
    <%= breadcrumbs(@taxon) %>
    
    <div id="content" class="col-sm-12 clearfix" data-hook>
